deps/*
objs/*
objs_dis/*
asmouts/*
preprocs/*
deps_debug/*
objs_debug/*
objs_dis_debug/*
asmouts_debug/*
preprocs_debug/*
liborangepower
liborangepower_debug
testing/deps/*
testing/objs/*
testing/objs_dis/*
testing/asmouts/*
testing/preprocs/*
testing/deps_debug/*
testing/objs_debug/*
testing/objs_dis_debug/*
testing/asmouts_debug/*
testing/preprocs_debug/*
testing/testing
testing/testing_debug
small_code_testing_things/*
tools/*/deps/*
tools/*/objs/*
tools/*/objs_dis/*
tools/*/asmouts/*
tools/*/preprocs/*
tools/*/deps_debug/*
tools/*/objs_debug/*
tools/*/objs_dis_debug/*
tools/*/asmouts_debug/*
tools/*/preprocs_debug/*
tools/*/src/tags
tools/*/src/types_*.taghl
tools/ast_gen/ast_gen
tools/ast_gen/ast_gen_debug
*.o
*.a
*.d
*.elf
*.gba
disassembly_all_2.armasm
symbols.txt
linker_map.txt
copyright_text_thing.txt
disassembly*.armasm
*.sav*
*.ss*
*.gdb_history*
*.sw[po]
*/tags
*/types_*.taghl
*.txt.ignore
frost_hdl
frost_hdl_debug
*.elf
docs/*.log
docs/*.aux
docs/*.toc
docs/*.lot
docs/*.lof
src/gen_src/*
docs/*/build/*
docs/old*/*
